.details-page {
  .details-main {
    width: 1519px;
    height: 120px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 10;
    background: #7d7d7d;
    a {
      padding-left: 150px;
    }
    .head-items {
      display: flex;
      align-items: center;
      padding-left: 30px;
      input {
        width: 443px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid var(--Text-In-Field, #ccc);
      }
      .menu {
        padding-left: 40px;
        a {
          text-decoration: none;
          padding-left: 50px;
          color: var(--Text-Tittle, #fff);
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px; /* 200% */
        }
      }
      .login {
        margin-left: -100px;
        display: inline-flex;
        padding: 8px 32px;
        align-items: flex-start;
        gap: 10px;
        background: none;
        border-radius: 8px;
        border: 1px solid var(--Text-Tittle, #ffffff);
        color: var(--Text-Tittle, #fff);
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 200% */
      }
      .login:hover {
        background: var(--Primary-Pink, #ff0073);
        color: var(--Other-white, #fff);
        transition: 0.3s;
        border: none;
      }
      svg {
        margin-left: -40px;
      }
    }
    a {
    }
  }
  .blogd-main {
    padding-top: 150px;
    .blog-menu {
      width: 1519px;
      height: 600px;
      flex-shrink: 0;
      opacity: 0.5;
      margin-top: -30px;
      background: var(--other-overlay-50, #000);
      .first-text {
        a {
          color: var(--Text-Body, #fff);
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          padding-top: 16px;
          line-height: 32px; /* 200% */
        }
        h1 {
          width: 712px;
          color: var(--Text-white, #fff);
          font-family: "Rubik", sans-serif;
          font-size: 64px;
          padding-top: 64px;
          font-style: normal;
          font-weight: 700;
          line-height: 88px; /* 137.5% */
        }
      }
      .stars {
        display: flex;
        align-items: center;
        gap: 16px;
        padding-top: 24px;
        p {
          color: var(--Text-Disable, #e6e6e6);
          font-family: "Montserrat", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 171.429% */
        }
        .stars-num {
          color: var(--Text-white, #fff);
          font-family: "Rubik", sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 32px; /* 133.333% */
        }
      }
      .details-profill {
        display: flex;
        align-items: center;
        gap: 16px;
        padding-top: 40px;
        h1 {
          color: var(--Other-white, #fff);
          font-family: "Rubik". sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 32px; /* 133.333% */
        }
      }
      .details-btns {
        padding-top: 40px;
        .first-btn {
          display: inline-flex;
          padding: 12px 32px;
          align-items: center;
          gap: 10px;
          border-radius: 8px;
          background: #ff0073;
          color: var(--Other-white, #fff);
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 200% */
        }
        .second-btn {
          margin-left: 24px;
          display: inline-flex;
          padding: 12px 32px;
          align-items: center;
          gap: 10px;
          border-radius: 8px;
          background: var(--primary-20-pink, #fff5f9);
          color: var(--Primary-Pink, #f72585);
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 200% */
        }
      }
    }
  }
  .main-content {
    .items {
      .more-text {
        .text {
          width: 728px;
          padding-top: 96px;
          h1 {
            color: var(--Text-Tittle, #1c3554);
            font-variant-numeric: lining-nums proportional-nums;
            font-family: "Rubik";
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px; /* 150% */
            text-transform: capitalize;
          }
          p {
            color: var(--Text-Body, #808080);
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-style: normal;
            padding-top: 24px;
            font-weight: 400;
            line-height: 27px; /* 168.75% */
          }
        }
        .object {
          width: 728px;
          height: 600px;
          display: flex;
          flex-shrink: 0;
          border-radius: 8px;
          margin-top: 40px;
          background: var(--primary-20-pink, #fff5f9);
          .categor1 {
            .lorem-t {
              display: flex;
              align-items: center;
              padding-top: 40px;
              padding-left: 40px;
              p {
                width: 249px;
                color: var(--Text-Tittle, #1c3554);
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 171.429% */
              }
            }
          }
          .categor2 {
            padding-left: 46px;
          }
        }
        .requir {
          padding-top: 96px;
          h1 {
            color: var(--Text-Tittle, #1c3554);
            font-variant-numeric: lining-nums proportional-nums;
            font-family: "Rubik";
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px; /* 150% */
            text-transform: capitalize;
          }
          .requir-p {
            width: 728px;
            height: 328px;
            flex-shrink: 0;
            border-radius: 5px;
            background: var(--primary-20-pink, #fff5f9);
            margin-top: 40px;
            .requir-t {
              display: flex;
              align-items: center;
              padding-top: 40px;
              padding-left: 40px;
              p {
                color: var(--Text-Tittle, #1c3554);
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 171.429% */
              }
            }
          }
        }
        .mentor {
          padding-top: 96px;
          h1 {
            color: var(--Text-Tittle, #1c3554);
            font-variant-numeric: lining-nums proportional-nums;
            font-family: "Rubik";
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px; /* 150% */
            text-transform: capitalize;
          }
          .mentor-itms {
            display: flex;
            padding-top: 40px;
            gap: 32px;
            .mentor-img {
              width: 297px;
              height: 320px;
              flex-shrink: 0;
              border-radius: 8px;
              background: var(--Text-In-Field, #ccc);
            }
            .mentor-text {
              h1 {
                color: var(--Text-Tittle, #1c3554);
                font-variant-numeric: lining-nums proportional-nums;
                font-family: "Rubik";
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 48px; /* 150% */
                text-transform: capitalize;
              }
              p {
                padding-top: 8px;
                color: var(--Text-Body, #808080);
                font-family: "Montserrat", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 200% */
              }
              .mentor-stars {
                display: flex;
                align-items: center;
                gap: 16px;
                padding-top: 16px;
                h1 {
                  color: var(--Text-Tittle, #1c3554);
                  font-family: "Rubik";
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 32px; /* 133.333% */
                }
                p {
                  color: var(--Text-Body, #808080);
                  font-family: "Montserrat", sans-serif;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px; /* 171.429% */
                }
              }
              .mentor-lorem {
                padding-top: 24px;
                p {
                  width: 481px;
                  color: var(--Text-Body, #808080);
                  font-family: "Montserrat";
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 27px; /* 168.75% */
                }
              }
              .numbers {
                display: flex;
                gap: 24px;
                padding-top: 47px;
                .number {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  p {
                    padding-top: 0px;
                  }
                }
              }
            }
          }
        }
      }
      .module {
        padding-top: 96px;
        .module-head {
          display: flex;
          align-items: center;
          gap: 170px;
          h1 {
            color: var(--Text-Tittle, #1c3554);
            font-variant-numeric: lining-nums proportional-nums;
            font-family: "Rubik";
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px; /* 150% */
            text-transform: capitalize;
          }
          p {
            color: var(--Text-Tittle, #1c3554);
            font-family: "Montserrat";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px; /* 200% */
          }
        }
        .module-menu {
          .menu {
            display: flex;
            align-items: center;
            padding-left: 40px;
            width: 728px;
            height: 80px;
            flex-shrink: 0;
            background: var(--primary-20-pink, #fff5f9);
          }
          .first-menu {
            gap: 300px;
          }
          .menu-items {
            width: 728px;
            height: 448px;
            flex-shrink: 0;
            padding-left: 40px;
            border: 1px solid var(--Text-Disable, #e6e6e6);
            background: var(--Other-white, #fff);
            .itemm {
              display: flex;
              align-items: center;
              padding-top: 24px;
              h1 {
                padding-left: 8px;
                color: var(--Text-Tittle, #1c3554);
                text-align: right;
                font-family: "Montserrat", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 200% */
              }
              p {
                color: var(--Text-Body, #808080);

                font-family: "Montserrat", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 200% */
              }
            }
            .first {
              padding-top: 40px;
            }
          }
        }
        .module-btn {
          padding-top: 64px;
          .btn-module {
            display: flex;
            width: 728px;
            padding: 24px 40px;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            border-radius: 8px;
            border: none;
            background: var(--Primary-Pink, #f72585);
            color: var(--Other-white, #fff);
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 200% */
          }
        }
      }
      .feedback {
        padding-top: 100px;
        .feedback-content {
          display: flex;
          align-items: center;
          gap: 24px;
          h1 {
            color: var(--Text-Tittle, #1c3554);
            font-variant-numeric: lining-nums proportional-nums;
            font-family: "Rubik";
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px; /* 150% */
            text-transform: capitalize;
          }
          .feedback-num {
            padding-top: 32px;
            h1 {
              color: var(--Text-Tittle, #1c3554);
              font-variant-numeric: lining-nums proportional-nums;
              font-family: "Rubik";
              font-size: 48px;
              font-style: normal;
              font-weight: 700;
              line-height: 63.984px; /* 133.3% */
            }
            p {
              color: var(--Text-Tittle, #1c3554);
              font-variant-numeric: lining-nums proportional-nums;
              font-family: "Rubik";
              font-size: 16px;
              font-style: normal;
              padding-top: 16px;
              font-weight: 500;
              line-height: 24px; /* 150% */
              text-transform: capitalize;
            }
            svg {
              margin-top: 8px;
            }
          }
          .feedback-stars {
            display: grid;
            margin-top: 100px;
          }
        }
      }
      .reviews {
        padding-top: 111px;
        .reviews-btn {
          display: flex;
          gap: 481px;
          h1 {
            color: var(--Text-Tittle, #1c3554);
            font-variant-numeric: lining-nums proportional-nums;
            font-family: "Rubik";
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px; /* 150% */
            text-transform: capitalize;
          }
          .reviews-btn1 {
            display: inline-flex;
            padding: 16px 40px;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            border: none;
            background: var(--Primary-Pink, #f72585);
            color: var(--Other-white, #fff);
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 200% */
          }
        }
        .review-comment {
          padding-top: 48px;
          .review-profil {
            display: flex;
            align-items: center;
            gap: 24px;
            .comment-text {
              h1 {
                color: var(--Text-Tittle, #1c3554);
                font-family: "Rubik";
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px; /* 133.333% */
              }
              p {
                color: var(--Text-Body, #808080);
                font-family: "Montserrat", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 200% */
              }
            }
            .like {
              padding-left: 350px;
              .like2 {
                margin-left: 32px;
              }
            }
          }
          .last-p {
            padding-top: 32px;
            p {
              width: 809px;
              height: 124px;
              flex-shrink: 0;
              color: var(--Text-Body, #808080);
              font-family: "Montserrat";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 27px; /* 168.75% */
            }
          }
          .review-line {
            width: 816px;
            height: 1px;
            background: #aaa;
            margin-top: 32px;
          }
        }
        .more-reviews {
          padding-top: 40px;
          .review-more {
            display: flex;
            width: 816px;
            padding: 24px 40px;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            border-radius: 8px;
            border: none;
            background: var(--Primary-Pink, #f72585);
            color: var(--Other-white, #fff);
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 200% */
          }
        }
      }
      .details-cards {
        padding-top: 96px;
        h1 {
          color: var(--Text-Tittle, #1c3554);
          font-variant-numeric: lining-nums proportional-nums;
          font-family: "Rubik";
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 48px; /* 150% */
          text-transform: capitalize;
        }
        .details-card {
          display: flex;
          .card {
            width: 295px;
            height: 427px;
            flex-shrink: 0;
            margin-top: 40px;
            padding-left: 16px;
            padding-top: 16px;
            border-radius: 8px;
            background: var(--Other-white, #fff);
            .placeholder {
              width: 262px;
              height: 208px;
              text-align: center;
              flex-shrink: 0;
              border-radius: 4px;
              background: var(--Text-In-Field, #ccc);
            }
            .card-text {
              margin-top: 197px;
              display: inline-flex;
              padding: 4px 24px;
              align-items: flex-start;
              gap: 10px;
              border-radius: 8px;
              background: var(--Other-Blue, #4586d6);
              p {
                color: var(--Text-white, #fff);
                font-family: "Montserrat", sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 200% */
              }
            }
            h1 {
              width: 262.891px;
              color: var(--Text-Tittle, #1c3554);
              font-variant-numeric: lining-nums proportional-nums;
              font-family: "Rubik", sans-serif;
              font-size: 16px;
              padding-top: 30px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px; /* 150% */
              text-transform: capitalize;
            }
            p {
              color: var(--Primary-Pink, #f72585);
              font-family: "Montserrat", sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 200% */
            }
            .stars {
              display: flex;
              align-items: center;
              padding-top: 12px;
              p {
                color: var(--Text-Body, #808080);
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 171.429% */
              }
            }
            .sale {
              h1 {
                color: var(--Text-Tittle, #1c3554);
                font-family: "Rubik", sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;

                line-height: 32px; /* 133.333% */
              }
              span {
                color: var(--Text-In-Field, #ccc);
                font-family: "Montserrat", sans-serif;
                font-size: 16px;
                text-decoration: line-through;
                font-style: normal;
                font-weight: 400;
                padding-right: 10px;
                line-height: 27px; /* 168.75% */
              }
            }
          }
          .card:hover {
            filter: drop-shadow(40px 40px 57px rgba(0, 0, 0, 0.1));
            transition: 0.3s;
          }
        }
      }
    }
  }
  #backtop {
    transition: 0.5s;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
    color: #333;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: -50px;
    cursor: pointer;
    z-index: 99;
  }
}
